.square0 {
	background-color: #990066;
}
.square1 {
	background-color: #FFCC00;
}
.square2 {
	background-color: #CC0033;
}
.square3 {
	background-color: #333399;
}
.square4 {
	background-color: #009999;
}
.square5 {
	background-color: white;
}

.picked {
	box-shadow: 1px 1px 1px 1px #02FFD6;
}

#viewport {
	text-align:center;
	color:red;
}
